<h1>Mentoras</h1>
<h2>What is this?</h2>
There's a lot of wasted potential in the world, especially in the form of people who can't see what they're capable of.<br>

The goal of Mentoras is to help match those who want to offer their time with those who are making the effort toward improving themselves.  By matching people with these two desires, I hope that we can make life better for many people.<br>

<%= link_to("I am interested in mentoring someone", url_for(action: 'mentor'))%> <br><br>

<%= link_to("I am interested in meeting a mentor", url_for(action: 'mentored')) %> <br>